@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
}
.app {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  /* background-color: #023047; */
}
.wrapper {
  /* min-height: 100vh;
  border: 2px solid white; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* Signup */

.signupParentBox,
.loginParentBox {
  height: fit-content;
  display: flex;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 40px;
  padding: 40px 30px 10px 30px;
}
.signupForm,
.loginForm {
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 25px;
}
@media only screen and (min-width: 320px) {
  .signupForm,
  .loginForm {
    width: 250px;
  }
  .wrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 425px) {
  .signupForm,
  .loginForm {
    width: 340px;
  }
}

/* Seat Booking */

.bookingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* gap: 70px; */
  /* padding: 20px; */
}
.seatsContainer {
  display: flex;
  flex-direction: column;
  width: 768px;
  gap: 30px;
  padding: 20px;
}
.seatsPriceSection {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid lightgrey;
  color: lightgrey;
  font-size: 16px;
}
.bookingRowF {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: violet; */
  gap: 20px;
}
.bookingRow {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.bookingRow-leftChild,
.bookingRow-RightChild {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  gap: 20px;
}

.seat-blocked {
  filter: grayscale();
}
.seat-selected {
  background-color: green;
  color: white;
}
.rowColor {
  background-color: royalblue;
}
.seat {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-image: url("./assets/chairR.png");
  background-size: contain;
  border: none;
  background-color: transparent;
}

.rowNameBox {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: royalblue;
  border-radius: 50%;
}
.rowName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60px;
  height: 100%;
  /* background-color: teal; */
}
.tv-container {
  perspective: 300px;
  filter: drop-shadow(30px 10px 4px royalblue);
  margin-top: -80px;
}

.tv-screen {
  width: 400px;
  height: 150px;
  background-image: url("https://images4.alphacoders.com/133/1336451.jpg");
  background-size: cover;
  transform: rotateX(240deg);
  margin: 100px auto;
  position: relative;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.nav-wrapper {
  width: 90%;
  height: 80px;
  background-color: #14213d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.navLogo {
  width: 250px;
}
.searchBar {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  width: fit-content;
  width: 320px;
  height: 10px;
  padding: 20px 10px;
}
.searchInput {
  border: none;
  outline: none;
  width: 280px;
  padding-left: 5px;
  font-size: 17px;
}

.accountButtons {
  display: flex;
  gap: 20px;
}

@media only screen and (min-width: 320px) {
  .nav-wrapper {
    /* background-color: orange; */
    width: 100%;
  }
  .navLogo {
    width: 130px;
  }
  .accountButtons {
    gap: 2px;
  }
  .searchBar {
    display: none;
  }
}
@media only screen and (min-width: 390px) {
  .nav-wrapper {
    /* background-color: orange; */
    width: 100%;
  }
  .navLogo {
    width: 150px;
  }
  .accountButtons {
    gap: 2px;
  }
  .searchBar {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .nav-wrapper {
    width: 100%;
  }
  .navLogo {
    width: 150px;
  }
  .accountButtons {
    gap: 2px;
  }
  .searchBar {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-wrapper {
    width: 100%;
  }
  .navLogo {
    width: 200px;
  }
  .accountButtons {
    gap: 10px;
  }
}

/* Carousol JSX */
.carousol-container {
  width: 100%;
  height: 600px;
  /* border: 2px solid black; */
  background-size: cover;
  background-repeat: no-repeat;
  border-image: fill 0 linear gradient(#0001, #000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousol-textcontent {
  color: white;
  font-size: 60px;
  font-weight: 900;
  color: white;
}

/* homeContainer */
.homeContainer {
  background-color: #14213d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.roundBox {
  background-color: royalblue;
  width: 40%;
  height: 100px;
  border: 2px solid white;
  margin-top: -50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
